/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
  }
  
  /* Basic styling */
  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }
  
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: linear-gradient(45deg, #ff0000,  #ff0000, #0138fd, #0138fd,  #0138fd,#01f5fd, #01f5fd);
    background-size: cover;
    padding: 20px;
  }
  
  .header-name {
    color: gold;
    text-shadow: 2px 2px 4px rgba(203, 33, 197, 0.999); 
  }
  
  header img {
    height: 80px;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  
  nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #00dcf9;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  
  nav li {
    flex-grow: 1;
  }
  
  nav a {
    display: block;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover {
    color: rgb(51, 141, 53);
  }
  
  footer {
    background: #f4f4f4;
    padding: 20px;
    text-align: center;
    font-size: 14px;
  }
  